# DEMOS DB LocalStack Details
DEMOS_LOCALSTACK_HOST=db
DEMOS_LOCALSTACK_PORT=5432
DEMOS_LOCALSTACK_USER=postgres
DEMOS_LOCALSTACK_PWD=postgres # pragma: allowlist secret
DEMOS_LOCALSTACK_DB=demos
DEMOS_LOCALSTACK_SSLMODE=disable

# DEMOS DB AWS Details
DEMOS_AWS_HOST=db
DEMOS_AWS_PORT=1234
DEMOS_AWS_USER=your_username
DEMOS_AWS_PWD=your_password # pragma: allowlist secret
DEMOS_AWS_DB=your_database
DEMOS_AWS_SSLMODE=prefer

# S3 Settings
PMDA_S3_BUCKET=pmda_s3_bucket
DEMOS_S3_BUCKET=demos_s3_bucket
