# PMDA DB Details
PMDA_MYSQL_HOST=localhost
PMDA_MYSQL_PORT=1234
PMDA_MYSQL_USER=your_username
PMDA_MYSQL_PWD=your_password # pragma: allowlist secret
PMDA_MYSQL_DB=your_database

# DEMOS DB Details
DEMOS_PGSQL_HOST=db
DEMOS_PGSQL_PORT=1234
DEMOS_PGSQL_USER=your_username
DEMOS_PGSQL_PWD=your_password # pragma: allowlist secret
DEMOS_PGSQL_DB=your_database
DEMOS_PGSQL_SSLMODE=prefer

# PMDA Exporter Settings
PMDA_EXPORT_SOURCE_SCHEMA=source_schema
PMDA_EXPORT_TARGET_SCHEMA=legacy_pmda_raw

# Schemas
RAW_SCHEMA=${PMDA_EXPORT_TARGET_SCHEMA}
STAGING_SCHEMA=legacy_pmda_staged
APP_SCHEMA=demos_app
