stage_pmda_for_migration:
  target: dev
  outputs:
    dev:
      type: postgres
      host: db
      port: 5432
      user: postgres
      password: postgres # pragma: allowlist secret
      dbname: demos
      schema: legacy_pmda_staged
      threads: 4
