# Must point at a local demos database.
DATABASE_URL=postgresql://localhost:1234/etc

APPROVED_DEMO_STATE_ID=MD
APPROVED_DEMO_SDG_DIVISION="Division of System Reform Demonstrations"
APPROVED_DEMO_TYPE="Serious Mental Illness (SMI)"
# Will need a doc for submitting, this is a default one
APPROVED_DEMO_DOCUMENT_PATH="/workspaces/demos/scripts/assets/test_doc.pdf"
APPROVED_DEMO_PROJECT_OFFICER_USER_ID=00000000-0000-0000-0000-000000000000
