# Must point at a local demos database.
DATABASE_URL=postgresql://localhost:1234/etc
UPLOAD_BUCKET=upload-bucket
CLEAN_BUCKET=clean-bucket
DELETED_BUCKET=deleted-bucket
S3_ENDPOINT_LOCAL=http://localstack:4566

APPROVED_DEMO_SDG_DIVISION="Division of System Reform Demonstrations"
# Will need a doc for submitting, this is a default one
APPROVED_DEMO_DOCUMENT_PATH="./assets/test_doc.pdf"
APPROVED_DEMO_PROJECT_OFFICER_USER_ID=00000000-0000-0000-0000-000000000000
