# This file is for local development only. ALL of these can be set prior to run time,
AWS_ENDPOINT_URL="http://localhost:4566" # this should be set from devcontainer build.
# These are really only used to set the secrets. Call it a place to hold the keys safely.
UIPATH_CLIENT_ID="STRING" # pragma: allowlist secret
UIPATH_CLIENT_SECRET="STRING" # pragma: allowlist secret
UIPATH_SECRET_ID="demos-local/uipath" # this is option, should be set by uipathprocessor
# remove the pragma comments first.

# awslocal secretsmanager update-secret \
#   --secret-id demos-local/uipath \
#   --secret-string '{ # pragma: allowlist secret
#     "clientId": "STRING",
#     "clientSecret": "STRING" # pragma: allowlist secret
#   }'

