AWS_ENDPOINT_URL="http://localhost:4566" # this should be set from devcontainer build.
UIPATH_CLIENT_ID="STRING" # pragma: allowlist secret
UIPATH_CLIENT_SECRET="STRING" # pragma: allowlist secret

# NOTE: these values are not even used via env vars.
# this is where i store the OAUTH keys so i can set the secrets in localstack
# remove the pragma comments first.

# awslocal secretsmanager update-secret \
#   --secret-id demos-local/uipath \
#   --secret-string '{ # pragma: allowlist secret
#     "clientId": "STRING",
#     "clientSecret": "STRING" # pragma: allowlist secret
#   }'
