version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity # Overrides default command so things don't shut down after the process ends.
    environment:
      AWS_PAGER: ""
    ports:
      - "3000:3000"
      - "4000:4000"

  db:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./postgres/postgres-data:/var/lib/postgresql/data
      - ./postgres/postgres-init:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: postgres # pragma: allowlist secret
      POSTGRES_USER: postgres
      POSTGRES_DB: demos
    ports:
      - "5432:5432"

  kafka-mock:
    image: apache/kafka:latest
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://localhost:9092,CONTROLLER://localhost:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    ports:
      - "9092:9093"

  localstack:
    image: localstack/localstack:latest
    environment:
      DEBUG: ${DEBUG:-0}
      DOCKER_HOST: unix:///var/run/docker.sock
      HOSTNAME_EXTERNAL: localstack
      SERVICES: s3,events,sqs,lambda,apigateway,secretsmanager,logs
      CORS_ALLOWED_ORIGINS: "http://localhost:3000"
      CORS_ALLOWED_METHODS: "GET,POST,PUT,DELETE,HEAD,OPTIONS"
      CORS_ALLOWED_HEADERS: "Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,X-Amz-User-Agent"
      CORS_EXPOSE_HEADERS: "ETag"
      CORS_ALLOW_CREDENTIALS: "true"
    volumes:
      - "localstack-data:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    ports:
      - "4566:4566"

volumes:
  postgres-data:
  localstack-data:
