data_migration_rev_01:
  target: dev
  outputs:
    dev:
      type: postgres
      host: db
      port: 5432
      user: postgres
      password: postgres # pragma: allowlist secret
      dbname: demos
      schema: legacy_pmda_migration_rev_01
      threads: 4
