name: Security Sync

on:
  push:
    branches:
      - securitysync

permissions:
  id-token: write
  contents: read

jobs:
  sync:
    name: Run sync
    runs-on: ubuntu-24.04
    strategy:
      max-parallel: 1
      matrix:
        environment: ["prod", "non-prod"]
      fail-fast: false
    environment:
      name: ${{ matrix.environment }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          token: ${{secrets.DEMOS_GITHUB_SERVICE_ACCOUNT_TOKEN}}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_TO_ASSUME }}

      - name: Sync Security Hub and Jira
        id: sync_step
        uses: Enterprise-CMCS/mac-fc-security-hub-visibility@v2.2
        with:
          jira-token: ${{ secrets.DEMOS_JIRA_SERVICE_ACCOUNT_TOKEN }}
          jira-username: macpro_jira_service_account
          jira-project-key: DEMOS
          jira-ignore-statuses: Done, Closed, Canceled
          aws-severities: CRITICAL, HIGH, MEDIUM
          jira-custom-fields: '{ "customfield_10100": "DEMOS-1417" }'
          include-all-products: 'true'
          jira-consolidate-tickets: true
          skip-products: Default
